include *.txt
include *.md
include *.cfg
include *.pkl
recursive-include ./model/*

include model/dataset/train.csv
include model/dataset/test.csv
include model/trained_models/*.pkl
include model/VERSION

include ./requirements.txt
exclude *.log

recursive-exclude * __pycache__
recursive-exclude * *.py[co]
